.container {
    background-color: #eee;
    padding: 20px;
	border: 1px solid #999;
    zoom: 1;
    min-width: 600px;
}

.teamlogo ,.personLogo,.content{
	background-color: #fff;
	padding: 20px;
	border: 1px solid #999;
}

.left_container{
	float: left;
	width: 158px;
	position: relative;
}

img{
	width:80px;
	height: 80px; 
	border: 1px solid #999;
}

h1{
	font-size: 14px;
	float: right;
	top: 10px;
	right: 10px;
	position: absolute;
}
.right_container{
	float: right;
	width: 80px;
}

.middle_container{
	 margin: 0 152px 0 232px;
}

.introduce {
    background-color: #fff;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom:10px;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}