body{
	padding:20px;
}

.controll a {
  display: inline-block;
}

.slider li {
  float: left;
}

.wrap {
  position: relative;
}

.slider li, .controll {
  position: absolute;
}

.slider, .controll a {
  text-align: center;
}

.wrap, .controll {
  overflow: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font: 14px "Microsoft Yahei";
}

a {
  text-decoration: none;
}

table {
  width: 400px;
}

.table-head tr {
  background-color: #000;
  color: #fff;
}

.table-content tr:nth-child(even) {
  background-color: #ccc;
}
.table-content tr:nth-child(1) {
  color: red;
}
.table-content tr:nth-child(2) {
  color: red;
}
.table-content tr:nth-child(3) {
  color: red;
}

#scaleInput {
  margin-top: 30px;
  width: 150px;
  -moz-transition: width 500ms;
  /* Firefox 4 */
  -webkit-transition: width 500ms;
  /* Safari and Chrome */
  -o-transition: width 500ms;
  /* Opera */
  transition: width 500ms;
}
#scaleInput:focus {
  width: 500px;
  height: 100px;
  border: 1px solid #FF9900;
}

.wrap {
  margin-top: 30px;
  border: 1px solid #9cc5ef;
  width: 300px;
  height: 200px;
}

.slider {
  width: 100%;
  font: bold 100px/200px "Microsoft Yahei";
  color: #fff;
}
.slider li {
  width: 300px;
  height: 100%;
}
.slider li:nth-child(1) {
  background-color: #6bacef;
}
.slider li:nth-child(2) {
  background-color: #297cd3;
}
.slider li:nth-child(3) {
  background-color: #01254a;
}
.slider li:target {
  z-index: 1;
}
.controll {
  bottom: 0;
  right: 0;
  z-index: 10;
}
.controll a {
  margin-left: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: #fff;
  color: #000;
}

/* ×Ô¶¯ÂÖ²¥ */
 /***** css¶¯»­ *****/
@keyframes banner {
    0% {left: 0;}
    20% {left: 0;}
    30% {left: -100%;}
    50% {left: -100%;}
    70% {left: -200%;}
    90% {left: -200%;}
    100% {left: 0}
}
@-moz-keyframes banner {        /*firefox*/
    0% {left: 0;}
    20% {left: 0;}
    30% {left: -100%;}
    50% {left: -100%;}
    70% {left: -200%;}
    90% {left: -200%;}
    100% {left: 0}
}
@-webkit-keyframes banner {       /*safari and chrome*/
    0% {left: 0;}
    20% {left: 0;}
    30% {left: -100%;}
    50% {left: -100%;}
    70% {left: -200%;}
    90% {left: -200%;}
    100% {left: 0}
}
@-o-keyframes banner {           /*opera*/
    0% {left: 0;}
    20% {left: 0;}
    30% {left: -100%;}
    50% {left: -100%;}
    70% {left: -200%;}
    90% {left: -200%;}
    100% {left: 0}
}

@keyframes bannerTo2 {
    0% {left: -100%;}
    20% {left: -100%;}
    30% {left: -200%;}
    50% {left: -200%;}
    70% {left: 0;}
    90% {left: 0;}
    100% {left: -100%}
}
@-moz-keyframes bannerTo2 {        /*firefox*/
    0% {left: -100%;}
    20% {left: -100%;}
    30% {left: -200%;}
    50% {left: -200%;}
    70% {left: 0;}
    90% {left: 0;}
    100% {left: -100%}
}
@-webkit-keyframes bannerTo2 {      /*safari and chrome*/
    0% {left: -100%;}
    20% {left: -100%;}
    30% {left: -200%;}
    50% {left: -200%;}
    70% {left: 0;}
    90% {left: 0;}
    100% {left: -100%}
}
@-o-keyframes bannerTo2 {           /*opera*/
    0% {left: -100%;}
    20% {left: -100%;}
    30% {left: -200%;}
    50% {left: -200%;}
    70% {left: 0;}
    90% {left: 0;}
    100% {left: -100%}
}

@keyframes bannerTo3 {
    0% {left: -200%;}
    20% {left: -200%;}
    40% {left: 0;}
    60% {left: 0;}
    70% {left: 100%;}
    90% {left: 100%;}
    100% {left: -200%;}
}
@-moz-keyframes bannerTo3 {
    0% {left: -200%;}
    20% {left: -200%;}
    40% {left: 0;}
    60% {left: 0;}
    70% {left: 100%;}
    90% {left: 100%;}
    100% {left: -200%;}
}
@-webkit-keyframes bannerTo3 {
    0% {left: -200%;}
    20% {left: -200%;}
    40% {left: 0;}
    60% {left: 0;}
    70% {left: 100%;}
    90% {left: 100%;}
    100% {left: -200%;}
}
@-o-keyframes bannerTo3 {
    0% {left: -200%;}
    20% {left: -200%;}
    40% {left: 0;}
    60% {left: 0;}
    70% {left: 100%;}
    90% {left: 100%;}
    100% {left: -200%;}
}

.banner_wrap {
    position: relative;
    height: 150px;
    margin: 10px 0 0 0;
    width: 300px;
    overflow: hidden;
}
.bn_wrap {
    display: flex;
    position: absolute;
    height: 100%;
    width: 300%;
}
#bn_0 {
    z-index: 1;
    animation: banner 8s linear infinite normal;
    -moz-animation: banner 8s linear infinite normal;
    -webkit-animation: banner 8s linear infinite normal;
    -o-animation: banner 8s linear infinite normal;
}
.bn_1 {
    width: 33.33333333%;
    float: left;
    height: 100%;
    background-color: rgb(0,138,8);
}
.bn_2 {
    float: left;
    width: 33.33333333%;
    height: 100%;
}
.bn_2_left {
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(70,0,255);
}
.bn_2_right {
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(0,138,8);
}
.bn_3 {
    float: left;
    width: 33.33333333%;
    height: 100%;
    background-color: rgb(70,0,255);
}

.bn_change {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;

}
[class*='bn_change_'] {
    margin-left: 2px;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
}
#bn_2:target {
    height: 150px;
    z-index: 7;
    animation: bannerTo2 8s linear infinite normal;
    -moz-animation: bannerTo2 8s linear infinite normal;
    -webkit-animation: bannerTo2 8s linear infinite normal;
    -o-animation: bannerTo2 8s linear infinite normal;
}
#bn_1:target {
    z-index: 7;
    height: 150px;
    animation: banner 8s linear infinite normal;
    -moz-animation: banner 8s linear infinite normal;
    -webkit-animation: banner 8s linear infinite normal;
    -o-animation: banner 8s linear infinite normal;
}
#bn_3:target {
    z-index: 7;
    height: 150px;
    animation: bannerTo3 8s linear infinite normal;
    -moz-animation: bannerTo3 8s linear infinite normal;
    -webkit-animation: bannerTo3 8s linear infinite normal;
    -o-animation: bannerTo3 8s linear infinite normal;
}