/*中文属性说明： http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html?utm_source=tuicool */


.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: -webkit-flex; /* Safari */
}

.container_item_1 {
	border: 1px navy solid;
	padding: 20px;
	width: 150px;
	height: 120px;
	flex: 0 0 150px;
}

.container_item_2 {
	border: 1px red solid;
	padding: 20px;
	width: 150px;
	height: 100px;
	flex: 0 0 150px;
}

.container_item_3 {
	border: 1px gray solid;
	padding: 20px;
	width: 150px;
	height: 40px;
	flex: 0 0 150px;
}

.container_item_4 {
	border: 1px blue solid;
	padding: 20px;
	width: 150px;
	height: 200px;
	flex: 0 0 150px;
}

@media screen and (max-width: 640px) {
	.container_item_4 {
		order: -1;
	}
	.container {
		align-items: flex-start;
		flex-wrap: wrap;/* 换行，第一行在上方。 */
	}
}