*,*:before,*:after {
	box-sizing: border-box;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "SimHei", "Arial", "sans-serif";
	margin: 0;
	color: #333;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: transparent;
}

input {
	margin: 0;
	font: inherit;
	color: inherit;
}

.cont-w {
	min-width: 1170px;
	position: relative;
	margin: 0 auto;
}
/**header**/
.header {
	height: 70px;
}

.logo {
	position: absolute;
	padding: 20px 100px;
}

.logo span {
	display: inline-block;
	color: #393a3a;
	font-size: 21px;
}

.logo img {
	width: 31px;
	height: 31px;
	margin-right: 10px;
}

.nav {
	position: absolute;
	top: 12px;
	right: 100px;
}

.nav-btn {
	display: none;
}

.nav-item {
	margin-left: 10px;
	padding: 16px 18px;
	color: #787b83;
	font-size: 14px;
	line-height: 20px;
}

.active,.nav-item:hover {
	border-bottom: 5px solid #e74f4d;
	color: #e74f4d;
}

.login {
	color: #e74f4d;
}

.login img {
	margin-right: 5px;
}
/**banner**/

/**图片柔和处理**/
.mask1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .2);
}

.banner {
	height: 690px;
	overflow: hidden;
	background: url("../img/task7/banner.jpg") no-repeat top center;
	background-size: cover;
	color: #fff;
}

.banner-title {
	margin: 230px auto 0 150px;
	font-size: 60px;
	font-family: "Microsoft YaHei", "Arial", "sans-serif";
	font-weight: normal;
}

.banner-text {
	margin: 20px auto 0 150px;
	font-size: 21px;
	line-height: 16px;
}

.banner-btn {
	width: 331px;
	height: 65px;
	margin: 66px auto 0 150px;
	background-color: #e74f4d;
	font-size: 30px;
	line-height: 65px;
	text-align: center;
	letter-spacing: .1em; /*元素的字母间距*/
}

/**中间四个图标**/
.block {
	display: inline-block;
	width: 24%;
	height: 250px;
	color: #777;
	text-align: center;
	vertical-align: top;
}

.block-img {
	width: 42px;
	height: 42px;
	margin: 45px 0;
}

.block-text {
	height: 54px;
	margin: auto;
	padding: 0 65px;
	border-left: 1px solid #777;
	font-size: 14px;
	line-height: 18px;
}
/**title**/
.title {
	height: 338px;
	background-color: #ededec;
	color: rgba(51, 51, 51, .5);
	text-align: center;
}

.title img {
	width: 91px;
	height: 92px;
	margin-top: 100px;
}

.title h2 {
	font-size: 54px;
	font-family: "Microsoft YaHei";
	font-weight: normal;
}
/**city**/
.city {
	height: 340px;
	background: url("../img/task7/map.jpg") no-repeat top center;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.city .mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(170, 52, 51, .2);
}

.city h3 {
	font-weight: normal;
	margin: 50px auto 8px;
	font-size: 21px;
}

.city hr {
	width: 30px;
	margin: 5px auto;
	border: 1px solid #fff;
}

.city p {
	font-size: 12px;
	margin-top: 20px;
}

.city-form {
	position: relative;
	z-index: 1;
	margin-top: 50px;
}

.city-form-list {
	position: relative;
	display: inline-block;
	width: 236px;
	height: 36px;
	margin: 0 14px;
	vertical-align: top;
	text-align: left;
}

.city-form-sel-cont {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
}

.city-form-sel-cont:hover {
	outline: 1px solid #be4e48;
}

.city-form-sel-tog,.city-form-input {
	width: 236px;
	height: 36px;
	margin: 0 auto;
	border: 0;
}

.city-form-sel-tog {
	padding: 9px 0 9px 12px;
	background-color: #fff;
	color: #aaa;
}

.pull-arrow {
	display: inline-block;
	width: 19px;
	height: 18px;
	vertical-align: top;
	text-align: left;
	position: absolute;
	top: 0;
	right: 0;
	margin: 9px 9px;
	padding: 6px 3px 5px;
	background-color: #be4e48;
}

.pull-arrow-out,.pull-arrow-in {
	position: absolute;
	width: 13px;
	height: 7px;
	border: 6px solid transparent;
	border-top: 7px solid #000;
	border-bottom: 0;
}

.pull-arrow-out {
	border-top-color: #fff;
}

.pull-arrow-in {
	margin-top: -1px;
	border-top-color: #be4e48;
}

.city-form-sel {
	display: none;
	margin: 0 auto;
	padding: 0;
	background-color: #e3e3e4;
}

.city-form-opt {
	position: relative;
	list-style: none;
	height: 28px;
}

.city-form-opt-rad {
	z-index: -1;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 26px;
}

.city-form-opt-lab {
	position: absolute;
	width: 100%;
	height: 26px;
	padding: 4px 0 4px 32px;
	color: #333;
	line-height: 18px;
}

.show {
	outline: 1px solid #be4e48;
}

.show .city-form-sel {
	display: block;
}

.city-form-sel-cont:hover .city-form-sel {
	display: block;
}

.city-form-opt-lab.act,.city-form-opt:hover .city-form-opt-lab {
	background-color: #be4e48;
	color: #fff;
}
/*添加下拉框前面的勾*/
.city-form-opt-lab.act:before {
	content: "";
	position: absolute;
	top: 8px;
	left: 9px;
	width: 12px;
	height: 8px;
	background: url("../img/task7/hook.png") no-repeat;
}

.btn {
	background-color: #be4e48;
	color: #fff;
	font-size: 14px;
	text-align: center;
	word-spacing: 1.4em; /*字间距*/
}
/**activity**/
.activity {
	background-color: #f7f7f7;
	text-align: center;
}

.activity-pic {
	display: inline-block;
	width: 20%;
	height: 390px;
	margin: 100px 18px 115px;
	vertical-align: top;
}

.activity-pic-cont {
	width: 219px;
	height: 336px;
	margin: 5px auto;
	padding: 12px 8px;
	box-shadow: 0 0 1px #5c5d5d;
	background-color: #fff;
}

.activity h3 {
	font-style: normal;
	margin: 0 auto;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
}

.activity h3.activity-pic-title {
	clear: both;
	font-size: 22px;
	word-spacing: 1.4em;
	font-weight: normal;
}

.activity p {
	margin: 5px auto;
	font-size: 12px;
	line-height: 14px;
}
/**news**/
.news {
	height: 1190px;
}

.news_1 {
	margin: 0px auto;
	height: 670px;
}

.new-time {
	width: 66.67%;
	height: 670px;
	position: relative;
	text-align: center;
	padding-top: 130px;
	background: url("../img/task7/new-time.jpg") no-repeat top center;
	background-size: cover;
	color: #fff;
	float: left;
}

.arrow-r {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 30px;
	margin-top: -15px;
	border: 15px solid transparent;
	right: 0;
	border-left: 0;
	border-right: 25px solid #fff;
}

.new-time h2 {
	font-weight: normal;
	margin: 0 auto;
	font-size: 50px;
	line-height: 1em;
}

.new-time h2.new-banner-title {
	clear: both;
	font-size: 158px;
}

.new-time p {
	display: inline-block;
	margin: 0 auto;
	font-size: 22px;
	line-height: 44px;
	text-align: left;
}

.new-point1 {
	width: 33.33%;
	height: 674px;
	position: relative;
	text-align: center;
	float: left;
	padding: 130px 70px;
	margin-top: -18px;
}

.new-point1 h3 {
	font-weight: normal;
	font-family: SimHei, Arial, sans-serif;
	display: block;
	margin: 100px auto 20px;
	font-size: 21px;
	line-height: 30px;
}

.new-point1 h3 span {
	color: #e74f4d;
}

.new-point1 p {
	margin: 0 auto 20px;
	color: #aaa;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	font-family: SimSun, Arial, sans-serif;
}

.new-point1 a {
	padding: 10px 30px;
	font-size: 12px;
	line-height: 15px;
	margin: 25px auto;
	border: 1px solid #e25c60;
	color: #e25c60;
}

.new-point1 ul {
	margin: 0 auto;
	padding: 0;
	display: block;
}

.slider-bar {
	display: inline-block;
	list-style: none;
	width: 12px;
	height: 12px;
	margin: 0 7px;
	border: 1px solid #929292;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: top;
}

.slider-bar.act {
	background-color: #929292;
}

.news_2 {
	position: absolute;
	width: 100%;
}

.new-age1 {
	background-color: #e74f4d;
	color: #fff;
	height: 520px;
	margin: 0px auto;
	width: 33.3%;
	float: left;
	position: relative;
}

.new-age1 h3 {
	font-weight: normal;
	margin: 130px auto 20px;
	font-size: 21px;
	line-height: 30px;
	font-family: SimHei, Arial, sans-serif;
	position: relative;
	padding: 100px 70px 0px 70px;
	text-align: center;
}

.new-age1 hr {
	width: 30px;
	margin: 5px auto;
	border: 1px solid #fff;
}

.new-age1 a {
	padding: 10px 30px;
	font-size: 12px;
	line-height: 15px;
	margin: 25px 0px 0px 40%;
	border: 1px solid #e25c60;
	border-color: #fff;
	color: #fff;
}

.new-age2 {
	background-color: #fff;
	height: 520px;
	margin: 0px auto;
	width: 33.3%;
	float: left;
	position: relative;
}

.new-age2 h3 {
	font-weight: normal;
	margin: 130px auto 20px;
	font-size: 21px;
	line-height: 30px;
	font-family: SimHei, Arial, sans-serif;
	position: relative;
	padding: 100px 70px 0px 70px;
	text-align: center;
}

.new-age2 hr {
	width: 30px;
	margin: 5px auto;
	border: 1px solid #aaa;
}

.new-age2 a {
	padding: 10px 30px;
	font-size: 12px;
	line-height: 15px;
	margin: 25px 0px 0px 40%;
	border: 1px solid #e25c60;
	border-color: #e25c60;
	color: #e25c60;
}

.new-age3 {
	background: url("../img/task7/new-age.jpg") no-repeat top center;
	background-size: cover;
	height: 520px;
	margin: 0px auto;
	width: 33.3%;
	float: left;
	background-size: cover;
	position: relative;
}

.arrow-l {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 30px;
	margin-top: -15px;
	border: 15px solid transparent;
	left: 0;
	border-left: 25px solid #fff;
	border-right: 0;
}

.news_mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .4);
}
/**join**/
.join {
	margin-top: 100px;
	width: 80%;
	text-align: center;
	height: 510px;
}

.join h3 {
	margin: 15px auto;
	font-size: 21px;
	line-height: 30px;
	font-family: SimHei, Arial, sans-serif;
	font-weight: normal;
}

.join hr {
	width: 30px;
	margin: 5px auto;
	border: 1px solid #F09384;
}

.join p {
	margin: 10px auto;
	color: #aaa;
	font-size: 12px;
	line-height: 18px;
}

.join-main {
	margin: 0px auto;
	padding: 50px 0;
	color: rgba(35, 24, 21, .8);
	font-family: SimSun, Arial, sans-serif;
}

.join-info {
	width: 40%;
	padding: 10px 0 0 60px;
	text-align: left;
	float: left;
}

.join-info-art {
	margin-bottom: 10px;
}

.join-info-title {
	margin: 0 auto 25px;
	font-size: 14px;
	line-height: 18px;
	font-family: SimHei, Arial, sans-serif;
	font-weight: normal;
}

.join-info-text {
	margin: 0 auto 10px;
	color: rgba(35, 24, 21, .6);
	font-size: 12px;
	line-height: 21px;
}

.join-info-more {
	color: rgb(35, 24, 21);
	font-size: 14px;
	text-align: right;
}

.arrow {
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: left;
	width: 20px;
	height: 16px;
	margin-right: 8px;
	padding: 7px 5px 4px;
}

.arrow-out {
	position: absolute;
	border: 6px solid transparent;
	border-top: 7px solid #000;
	border-bottom: 0;
	width: 10px;
	height: 5px;
	border-width: 5px 5px 0;
	border-top-color: rgba(35, 24, 21, .6);
}

.arrow-in {
	position: absolute;
	border: 6px solid transparent;
	border-top: 7px solid #000;
	border-bottom: 0;
	margin-top: -1px;
	border-top-color: #fff;
	width: 10px;
	height: 5px;
	border-width: 5px 5px 0;
}

.join-form {
	width: 60%;
	float: left;
}

.join-form-list {
	margin: 0 auto;
	padding: 0 60px;
	list-style-type: none;
	width: 100%;
}

.join-form-item {
	list-style: none;
	padding: 10px;
	width: 50%;
	float: left;
}

.join-form-item.w {
	width: 100%;
}

.join-form-input {
	width: 100%;
	height: 40px;
	padding: 12px 17px;
	border: 0;
	background-color: #eee;
	font-size: 12px;
	line-height: 16px;
}

.join-form-input.tarea {
	height: 120px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.footer {
	padding: 85px 0 75px;
	background-color: #32353e;
	color: #fff;
	text-align: center;
}

.footer-title {
	font-size: 21px;
	line-height: 35px;
	font-weight: normal;
}

.footer-text {
	font-size: 12px;
	line-height: 18px;
}

.footer-form {
	margin: 25px;
}

.footer-form-input.text {
	width: 430px;
	color: #333;
	font-size: 14px;
}

.footer-form-input {
	height: 41px;
	margin: 0 auto;
	padding: 10px;
	border: 0;
	line-height: 21px;
}

.footer-form-input.btn {
	width: 80px;
	background-color: rgba(255, 255, 255, .3);
	font-size: 15px;
	text-align: center;
	word-spacing: .4em;
	cursor: pointer;
}

.footer-link {
	height: 35px;
	margin: 8px;
	padding: 5px;
}

.copy {
	height: 56px;
	padding-top: 28px;
	background-color: #2f3038;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
}

.copy-text {
	margin-left: 100px;
}

.b2t {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px 30px;
	padding: 10px;
}